* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: flex-end;

    height: 85px;
    width: 100%;
    background-color: black;
}

ul {
    display: flex;
    align-items: end;
}

